<body>
  <h1>ようこそ<strong> Bookers</strong> へ！</h1>

  <div class= "intro1">
    <p><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>
  </div>

  <div class= "intro2">
    <p>印象を共有し交換することができます</p>
  </div>

  <div class="start">
    <%= link_to 'start', '/books' %>
  </div>

</body>